body {
  font-family: sans-serif;
  background-color: #fcfcfc;
}
.firstContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.firstContainer img{
  width: 50px;
}

.secondContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
}


.myButton {
  margin-left: 10px; /* Add some spacing between buttons */
}

.logo {
  height: 50px;
}


/*Table Style*/
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers th.id-row{
  background-color: #768d87;
}


#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #83b0c9;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #164863;
  color: white;
}

/* BTN Styles */
.myButton {
  background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
  border-radius: 5px;
  border: 1px solid #566963;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 23px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #2b665e;
}


.delBtn:hover {
  background: #c74f34; 
}
.edBtn:hover {
  background: #137ccc; 
}
.addBtn:hover {
  background: #34b191;
}

.userBtn:hover{
  background: #bcc2c0;
  color: #313030;
}

.btn {
  background: #428bca;
    border: #357ebd solid 0px;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    padding: 8px 15px;
    text-decoration: none;
    text-align: center;
    min-width: 60px;
    position: relative;
    transition: color 0.1s ease;
  }
  .btn:hover {
    background: #357ebd;
  }
  .btn.btn-big {
    font-size: 18px;
    padding: 15px 20px;
    min-width: 100px;
  }

/*-------------MODAL-------------*/
.btn {
  background: #428bca;
  border: #357ebd solid 0px;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 8px 15px;
  text-decoration: none;
  text-align: center;
  min-width: 60px;
  position: relative;
  transition: color 0.1s ease;
}
.btn:hover {
  background: #357ebd;
}
.btn.btn-big {
  font-size: 18px;
  padding: 15px 20px;
  min-width: 100px;
}
.btn-close {
  color: #aaaaaa;
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
  position: absolute;
  right: 7px;
  top: 0;
}
.btn-close:hover {
  color: #919191;
}
.modale:before {
  content: "";
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.opened:before {
  display: block;
}
.opened .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  top: 20%;
}
.modal-dialog {
  background: #fefefe;
  border: #333333 solid 0px;
  border-radius: 5px;
  margin-left: -200px;
  text-align: center;
  position: fixed;
  left: 50%;
  top: -100%;
  z-index: 11;
  width: 360px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  -webkit-transform: translate(0, -500%);
  -ms-transform: translate(0, -500%);
  transform: translate(0, -500%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal-body {
  padding: 20px;
}
.modal-body input {
  width: 200px;
  padding: 8px;
  border: 1px solid #ddd;
  color: #000000;
  outline: 0;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}
.modal-header,
.modal-footer {
  padding: 10px 20px;
}
.modal-header {
  border-bottom: #eeeeee solid 1px;
}
.modal-header h2 {
  font-size: 20px;
}

/*REGISTER*/
.login {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}


.login-header {
  background: #164863;
  padding: 20px;
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-container {
  background: #ebebeb;
  padding: 12px;
}

/* Every row inside .login-container is defined with p tags */
.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="submit"] {
  background: #164863;
  border-color: transparent;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #34b191;
}

.AlreadyText {
  padding-left: 25%;
  font-size: 13px;
  text-decoration-line: none;
  color: #3b3b3b;
}
.AlreadyText a{
  font-weight: bolder;
  text-decoration-line: none;
  color: #164863;
}

.AlreadyText a:hover{
  color: #4885bb;
}