<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js"></script>
    {% block title %}
        <title>Registration</title>
    {% endblock title %}
</head>
<body>
    <div class="firstContainer">
        <img src="static\images\set-up-svgrepo-com.svg" alt="">
        <h1>Client Management System</h1>
        <a class="myButton userBtn" href="/">Home</a>
    </div>
    {% block form %}
    <div class="login">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <h2 class="login-header">Register form:</h2>
            <div class="login-container">
                <p> {{ form.username(placeholder="Username") }} </p>
                <p> {{ form.email (placeholder="Email") }} </p>
                <p> {{ form.password (placeholder="Password") }} </p>
                <p> {{ form.confirm_password (placeholder="Confirm your Password") }} </p>
                <p> {{ form.submit }} </p> 
                <small class="AlreadyText">
                    Already have an account? <a href="{{ url_for ('login') }}">LOG IN</a> <!--THIS IS THE FUNCTION, NOT URL-->
                </small>
            </div>
        </form>
    </div>
    {% endblock %}
</body>
</html>